{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div>
    <div>
        <h1>Registration</h1>
        <form action="/register" method="post">
            <p><label>Name: </label> <input type="text" name="name" value="" required /></p>
            <p><label>Password: </label> <input type="text" name="psw" value="" required /></p>
            <p><label>Password repeat: </label> <input type="text" name="psw_repeat" value="" required /></p>
            <p><input type="submit" value="Register" />
        </form>
    </div>
</div>
{% endblock %}